html,body {
  height:100%;
}

h1 {
  font-family: Arial,sans-serif;
  font-size:80px;
  color:#DDCCEE;
}


p.date-style {
   background: gray;
   color: white;
   display:inline-block;
}

/* Custom container */
.container-full {
  margin: 0 auto;
  width: 100%;
  min-height:100%;
  background-color:#110022;
  color:#eee;
  overflow:hidden;
}

.container-full a {
  color:#efefef;
  text-decoration:none;
}

.v-center {
  margin-top:7%;
}

.search-btn {
  background-color: #7FB3D5;
  border: 0px;
  margin: 5px;
}

.search-btn:hover  {
  background-color:#5499C7;
}

.search-div {
  border:1px solid #7FB3D5;
  margin: 5px;
  padding:5px;
}

.search-checkbox {
  font-weight: bold;
}

