<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="blog-header">
            <h1 class="blog-title">Things</h1>
        </div>
        <div class="row">
            <div class="col-sm-8 blog-main">
                {% for thing in things %}
                <div class="blog-post">
                    <h4 class="blog-post-title">{{ thing.title }}</h4>
                    <div class="txt-div">{{ thing.text | markdown }}</div>
                    <p class="date-style">{{ thing.date }}</p>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="{{ url_for('show',   id=thing.id) }}">Single-page</a></li>
                        <li class="list-inline-item"><a href="{{ url_for('edit',   id=thing.id) }}">Edit</a></li>
                        <li class="list-inline-item"><a href="{{ url_for('delete', id=thing.id) }}">Delete</a></li>
                    </ul>
                </div><!-- blog-post-->
                {% endfor %}
            </div><!-- blog-main-->
            {% include 'search.html' %}
        </div>
    </div>
    <!-- /container full -->

    <!-- script references -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!--script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script-->
</body>

</html>