
<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
    <div class="sidebar-module sidebar-module-inset search-help">
        <form class="form-inline" method="GET" action="search">
            <div class="search-div">
            <div claass="form-group">
                <input type="text" class="form-control" name="textQuery" id="inputTextQuery" placeholder="enter text">
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="searchText">
                        <span class="search-checkbox">search text</span>
                </label>
            </div>
            </div>
            <div class="search-div">
            <div claass="form-group">
                <input type="text" class="form-control" name="tagsQuery" id="inputTagsQuery" placeholder="enter tags">
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="operator">
                        use AND operator for <br /> comma separated tags<br />(default is OR)
                </label>
                <label>
                    <input type="checkbox" name="searchTags">
                        <span class="search-checkbox">search tags</span>
                </label>
            </div>
            </div>
            <div class="search-div">
            <div claass="form-group">
                <p>
                <label class="radio-inline"><input type="radio" name="date-radio" value="on">On</label>
                <label class="radio-inline"><input type="radio" name="date-radio" value="before">Before</label>
                <label class="radio-inline"><input type="radio" name="date-radio" value="after">After</label>
                <label class="radio-inline"><input type="radio" name="date-radio" value="between">Between two dates</label>
                </p>
                <input type="text" class="form-control" name="dateQuery" id="inputDateQuery" placeholder="2017-01-01,2017-12-31">
                <div class="checkbox">
                <label>
                    <input type="checkbox" name="searchByDate">
                        <span class="search-checkbox">search by date</span>
                </label>
            </div>
            </div>
            </div>
            <button type="submit" class="btn btn-primary search-btn">Search</button>
        </form>
        <div class="container">
            <button type="submit" data-toggle="collapse" data-target="#help">
                <i class="fa fa-expand"></i><span class="search-help">...show/hide search help</span>
            </button>
            <div id="help" class="collapse search-help">
                <p>Multiple criteria search uses AND operator</p>
                Steps:<br />
                - Type search criteria in the intput field<br />
                - Select relevant checkbox<br />
                - Optional: Repeat for multiple criteria<br />
                - Click Search button<br />
            </div>
        </div>
        </div>
</div>
