<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="blog-header">
            <h1 class="blog-title">Things</h1>
        </div>
        <div class="row">
            <div class="col-sm-8 blog-main">
                <div class="blog-post">
                    <h4 class="blog-post-title">{{ thing.title }}</h4>
                    <p class="date-style">{{ thing.date }}</p>
                    <div class="txt-div">{{ thing.text | markdown }}</div>
                    <h6 class="blog-post-footer">{{', '.join(thing.tags)}}</h6>
                </div><!-- blog-post-->
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="{{ url_for('edit',   id=id) }}">Edit</a></li>
                    <li class="list-inline-item"><a href="{{ url_for('delete', id=id) }}">Delete</a></li>
                </ul>
            </div>
                    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
                <div class="sidebar-module sidebar-module-inset">
                    <h4>Links</h4>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="{{ url_for('index') }}">Home</a></li>
                    </ul>
                </div>
              </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>

</html>